@model Visitor
@{
    ViewData["Title"] = "Capture";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<section class="hero">
    <div class="row" id="pic" style="margin: auto">
        <div class="col-md-12">
            <form method="post" asp-controller="Visitor" asp-action="Capture">

                <div class="form-group">
                    <div class="center-block" id="camera">

                    </div>
                </div>

                <div class="form-group">
                    <div id="results">

                    </div>
                </div>

                <div id="pictureButton" class="form-group">
                    <button type="button" class="btn btn-default center-block" value="Take Picture" style="width:150px" onclick="takePicture(); removeAndShowButtons()">Take a Picture</button>
                </div>
            </form>
            <div id="finishButton" class="col-md-12" style="display:none">
                <input type="button" value="Finish" class="btn btn-success center-block" onclick="hideAndShow()" />
            </div>
        </div>
    </div>

    <div class="row" id="qr" style="display:none;">
        @if (ViewBag.visitor != null)
        {
            var name = ViewBag.visitor.FirstName;
            var lastName = ViewBag.visitor.LastName;
            var company = ViewBag.visitor.Company;
            var number = ViewBag.visitor.RandomNumber;

            <p><b>@name @lastName</b></p>
            <p><b>@company</b></p>
            <qrcode content="@number" width="200" height="200" />
            <p><b>@number</b></p>
        }
    </div>
    <div class="row" id="backBtn" style="display: none">
        <button type="button" class="btn btn-default" value="Back" onclick="textAndBack()">Back</button>
    </div>

    <div class="hero-inner" id="captureHeroText" style="margin: auto; display: none; text-align: center">
        <h1 id="captureHeroH1" style="display: none">Thank you</h1>
        <h1 id="captureHeroH2" style="display: none">Dont forget to checkout when leaving</h1>
    </div>

</section>

<script src="~/webcam/webcam.js"></script>
<script src="~/js/site.js"></script>


