@model Visitor
@{
    ViewData["Title"] = "Capture";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<section class="hero">
    <div class="row" id="pic">
        <div class="col-md-12">
            <form method="post" asp-controller="Visitor" asp-action="Capture">

                <div class="form-group">
                    <div class="center-block" id="camera">

                    </div>
                </div>

                <div class="form-group">
                    <div id="results">

                    </div>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default center-block" value="Take Picture" onclick="takePicture()">Take a Picture</button>
                </div>
            </form>
            <div class="col-md-12">
                <input type="button" value="Finish" class="btn btn-success center-block" onclick="hideAndShow()" />
            </div>
        </div>
    </div>

    <div class="row" id="qr" style="display:none">
        <div class="col-md-12 text-center">
            @if (ViewBag.visitor != null)
            {
                var name = ViewBag.visitor.FirstName;
                var lastName = ViewBag.visitor.LastName;
                var company = ViewBag.visitor.Company;
                var number = ViewBag.visitor.RandomNumber;

                <p><b>@name @lastName</b></p>
                <qrcode content="@number,  @name,  @lastName,  @company" width="200" height="200" />
                <p><b>@number</b></p>

                <button type="button" class="btn btn-default" value="Back" onclick="window.location.href = '@Url.Action("Index", "Home")' ">Back</button>
            }
        </div>
    </div>
</section>

    <!-- First, include the Webcam.js JavaScript Library -->
    <script src="~/webcam/webcam.js"></script>
    <!-- Configure a few settings and attach camera -->
    <script language="JavaScript">
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#camera');
    </script>

    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript">
        function takePicture() {
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                // display results in page
                document.getElementById('results').innerHTML =
                    '<img class="center-block" src="' +
                    data_uri +
                    '"/>';

                Webcam.upload(data_uri,
                    '/Visitor/Capture',
                    function (code, text) {
                        alert('Photo Captured');
                    });
            });
        }

        function hideAndShow() {
            document.getElementById("qr").style = "display: block";
            document.getElementById("pic").style = "display: none";

        }
    </script>

