@model Visitor
@{
    ViewData["Title"] = "CheckedIn";
}

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-controller="Visitor" asp-action="CheckOut">

            <div class="form-group">
                <label asp-for="@Model.RandomNumber"></label>
                <input asp-for="@Model.RandomNumber" class="form-control" name="RandomNumberInput" id="RandomNumberInput" runat="server" />
            </div>

            <div class="form-group">
                <label name="ErrorLabel"></label>
            </div>

            <div class="form-group">
                <input type="submit" value="Check out" class="btn btn-success" />
            </div>

        </form>

    </div>
</div>