@model  List<Visitor>
@{
    ViewData["Title"] = "QrView";
}

<body>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" asp-controller="Visitor" asp-action="Print">
                <div class="form-group">
                    @if (ViewBag.visitor != null)
                    {
                        var name = ViewBag.visitor.FirstName;
                        var lastName = ViewBag.visitor.LastName;
                        var company = ViewBag.visitor.Company;
                        var number = ViewBag.visitor.RandomNumber;

                        <p><b>@name  @lastName</b></p>
                        <qrcode content="@number,  @name,  @lastName,  @company" width="200" height="200" />
                        <p><b>@number</b></p>
                    }
                </div>

                <div class="form-group">
                    <input type="submit" value="Print" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</body>

