
@{
    ViewData["Title"] = "Thx";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<body onload="showThxText()">
    <section class="hero">
        <div class="hero-inner" id="checkoutHeroText" style="margin: auto; text-align: center">
            <h1 id="checkoutHeroH1" style="display: none">Thank you for visiting *Company</h1>
        </div>
    </section>
</body>



<script src="~/js/site.js"></script>

