body {
    padding-top: 65px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.vertical-menu {
    width: 400px;
    height: auto;
    background: grey;
    opacity: 0.7;
    font-size: 0.65em;
}

.nav {
    margin: 0 15%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.nav a {
    text-align: center;
    line-height: 5em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    letter-spacing: 0.1em;
    color: #FFF;
    display: block;
}
                   


.vertical-menu a:hover {
        border: 1px solid #FFF;
    }

.vertical-menu a.active {
    border: 2px solid #FFF;
}

.index-body {
    margin: 0;
    font-family: sans-serif;
    padding-top: 0;
    padding-bottom: 0;
}
#LoginBtn .btn{
    justify-content: left;
    margin-top: 10px;
    display: block;
    width: 100px;
    /* Text styles */
    color: white;
    text-decoration: none;
    /* Border styles */
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(92,184,92, 0.4);
}
#LogoutBtn .btn{
    display: inline-block;
    /* Text styles */
    color: white;
    text-decoration: none;
    /* Border styles */
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(217,83,79, 0.4);
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 100px;
    /* Padding and margins */
    margin-top: 50px;
    margin-right: auto;
    /* Text styles */
    color: white;
    text-decoration: none;
    /* Border styles */
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(92,184,92, 0.8);
}

