body {
    padding-top: 65px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
        }

.vertical-menu a:hover {
            background-color: #ccc;
        }

.vertical-menu a.active {
            background-color: #4CAF50;
            color: white;
        }

.index-body {
    margin: 0;
    font-family: sans-serif;
    padding-top: 0;
    padding-bottom: 0;
}
#LoginBtn .btn{
    justify-content: left;
    margin-top: 10px;
    display: block;
    width: 100px;
    /* Text styles */
    color: white;
    text-decoration: none;
    /* Border styles */
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(92,184,92, 0.4);
}
#LogoutBtn .btn {
    display: block;
    width: 100px;
    /* Text styles */
    color: white;
    text-decoration: none;
    /* Border styles */
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(217,83,79, 0.4);
}

.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 100px;
    /* Padding and margins */
    margin-top: 50px;
    margin-right: auto;
    /* Text styles */
    color: white;
    text-decoration: none;
    /* Border styles */
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(92,184,92, 0.8);
}
.hero-inner {
    margin-left: 150px;
}
