@model Employee

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<section class="hero">
    <div class="hero-inner">
        <h1>Welcome!</h1>
        <h2>Check in by pressing the button below.</h2>
        <a class="btn" asp-area="" asp-controller="Visitor" asp-action="Index">
            Check in
        </a>
    </div>
    <div id="LogoutBtn" class="col-md-1" style="text-align:center; position: absolute; right: 15px; top: 520px;">
        <a class="btn" asp-area="" asp-controller="Visitor" asp-action="CheckOut">
            Check out
        </a>
    </div>


    <div id="LoginBtn" class="col-md-1" style="text-align:center; height: 50px;  position: absolute; right: 15px; top: 10px;">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Visitor" asp-action="History" class="btn">Settings</a>
            }

            else
            {
                <a class="btn" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
            }
        }
    </div>
</section>
