@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Lil kimmer</h1>
        <a href="@Url.Action("Index", "Visitor")" class="elements">
          <span>Clients</span>
    </div>
</div>
