@model Employee

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<section class="hero">
    <div class="hero-inner" style="margin: auto">
        <div class="col-md-12">
            <h1 style="font-size: 60px">Welcome!</h1>
            <h2 style="font-size: 35px">Check in by pressing the button below.</h2>
            <div class="col-md-6">
                <a class="btn" style="width: 150px" asp-controller="Visitor" asp-action="Index">
                    Check in
                </a>
            </div>

            <div class="col-md-6" id="LogoutBtn">
                <a class="btn" style="width: 150px" asp-controller="Visitor" asp-action="CheckOut">
                    Check out
                </a>
            </div>
        </div>
    </div>


    <div id="LoginBtn" class="col-md-1" style="text-align:center; height: 50px;  position: absolute; right: 15px; top: 10px;">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Visitor" asp-action="History" class="btn">Settings</a>
            }

            else
            {
                <a class="btn" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
            }
        }
    </div>
</section>
