@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4"  style="background-color: lightgray; text-align:center; border:1px solid; height: 320;">
        <img style="" src="~/images/rsz_1check_in.jpg" />
        <a class="btn btn-success" style="margin-top:5px" asp-area="" asp-controller="Visitor" asp-action="Index">Check in</a>
    </div>

    <div class="col-md-4" style="background-color: lightgray; text-align:center; border:1px solid; height: 300px;">
        <a class="btn btn-success" asp-area="" asp-controller="Visitor" asp-action="CheckOut">Check out</a>
    </div>

    <div class="col-md-4" style="background-color: lightgray; text-align:center; border:1px solid; height: 300px;">
        <a class="btn btn-success" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </div>
</div>
